.find-top{
  margin: 10vh auto 20vh;
  margin-left: 15vw;
  display: flex;
  align-items: center;
  width: 80vw;
}

.find-top li{
  width: 50%;
}

/* ページトップ左の写真 */
.find-top .find-top-img img{
  height: 50vh;
  object-fit: cover;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

/* ページトップ右のテキスト */
.find-top .find-top-txt span{
  line-height: 6vh;
  border-bottom: .5px dotted #838f82;
  padding-bottom: 1vh;
}

/* お部屋さがしのポイント */
.find-point{
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 10vh auto;
}

.find-point li{
  width: 28%;
  line-height: 5vh;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 16%);
  padding: 4% 3%;
}

/* 文字上３つのアイコン */
.find-point li img{
  height: 15vh;
  object-fit: cover;
}

/* ポイントのテキスト */
.find-point .detail-txt{
  font-size: .8rem;
  margin-top: 1.5vh;
}


/* お手続きの流れ */
.find-flow{
  margin: 20vh auto;
  width: 50vw;
}

.find-flow li{
  padding-left: 3%;
  display: flex;
  align-items: center;
}

/* 左側のイラストたち */
.find-flow .flow-img{
  width: 40%;
}

.find-flow .flow-img img{
  height: 17vh;
  width: auto;
  object-fit: cover;
}


/* 右側のテキスト */
.find-flow li .flow-txt{
  width: 60%;
}

.find-flow li .flow-txt .subject{
  padding: 6vh 0vw 2vh;
  font-weight: bold;
}

.find-flow li .flow-txt .contxt{
  margin-bottom: 5vh;
  font-size: .8rem;
  line-height: 5vh;
}

/* 下向きの矢印 */
.arrow-down {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  position: relative;
  width: 0.1em;
  height: 1em;
  background: currentColor;
}

.arrow-down::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: rotate(135deg);
  position: absolute;
  left: -0.275em;
  bottom: 0;
  margin: auto;
}

/* CONTACT ボタン */
.contact-btn{
  width: 40%;
}

.contact-txt{
  font-size: .8rem;
  padding-top: 15vh;
  margin-bottom: -17vh;
}





@media screen and (max-width:599px){

  .find-top{
    flex-direction: column;
    margin: 5vh auto 10vh;
    margin-left: 0vw;
    width: 100vw;
  }
  
  .find-top li{
    width: 100%;
  }
  
  /* ページトップ左の写真 */
  .find-top .find-top-img img{
    height: 30vh;
    margin-bottom: 5vh;
  }
  
  /* お部屋さがしのポイント */
  .find-point{
    flex-direction: column;
    width: 100vw;
    margin: 2vh auto;
  }
  
  .find-point li{
    width: 80%;
    margin: 1vh auto;
    padding: 4% 6%;
  }
  
  /* 文字上３つのアイコン */
  .find-point li img{
    height: 10vh;
  }
  
  /* ポイントのテキスト */
  .find-point .detail-txt{
    font-size: .75rem;
    margin-top: 1vh;
  }
  
  
  /* お手続きの流れ */
  .find-flow{
    margin: 10vh auto;
    width: 100vw;
  }
  
  .find-flow li{
    flex-direction: column;
    padding-left: 0%;
  }
  
  /* 上側のイラストたち */
  .find-flow .flow-img{
    width: 90%;
  }
  
  .find-flow .flow-img img{
    height: 15vh;
    margin-top: 2vh;
  }
  
  
  /* 下側のテキスト */
  .find-flow li .flow-txt{
    width: 80%;
  }
  
  .find-flow li .flow-txt .subject{
    padding: 1vh 0vw 2vh;
  }
  
  .find-flow li .flow-txt .contxt{
    margin-bottom: 5vh;
  }
  
  
  /* CONTACT ボタン */
  .contact-btn{
    width: 70%;
  }
  
}